[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bspm"]
	path = bspm
	url = https://github.com/cran4linux/bspm
[submodule "rspm"]
	path = rspm
	url = https://github.com/cran4linux/rspm
